
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

/*!40000 ALTER TABLE `actividadeconomica` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividadeconomica` ENABLE KEYS */;

/*!40000 ALTER TABLE `departamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `departamentos` ENABLE KEYS */;

/*!40000 ALTER TABLE `municipios` DISABLE KEYS */;
/*!40000 ALTER TABLE `municipios` ENABLE KEYS */;

/*!40000 ALTER TABLE `paises` DISABLE KEYS */;
/*!40000 ALTER TABLE `paises` ENABLE KEYS */;

/*!40000 ALTER TABLE `codigospostalesnacionales` DISABLE KEYS */;
/*!40000 ALTER TABLE `codigospostalesnacionales` ENABLE KEYS */;

/*!40000 ALTER TABLE `regimen` DISABLE KEYS */;
INSERT INTO `regimen` VALUES (1,'48','Responsable de iva','ACTIVO'),(2,'49','No responsable de iva','ACTIVO'),(3,'47','Regimen simple de tributaci├│n','ACTIVO'),(4,'50','Grande contribuyente','ACTIVO');
/*!40000 ALTER TABLE `regimen` ENABLE KEYS */;

/*!40000 ALTER TABLE `tipoidentificacion` DISABLE KEYS */;
INSERT INTO `tipoidentificacion` VALUES (1,11,'Registro Civil Nacimiento'),(2,12,'Tarjeta de Identidad'),(3,13,'Cedula de Ciudadania'),(4,21,'Tarjeta de Extranjeria'),(5,22,'Cedula de Extranjeria'),(6,31,'Nit'),(7,41,'Pasaporte'),(8,42,'Tipo de documento Extrajero'),(9,43,'Sin Identificacion del exterior o para uso definido por la DIAN');
/*!40000 ALTER TABLE `tipoidentificacion` ENABLE KEYS */;

/*!40000 ALTER TABLE `tipopersona` DISABLE KEYS */;
INSERT INTO `tipopersona` VALUES (1,'Juridica'),(2,'Natural');
/*!40000 ALTER TABLE `tipopersona` ENABLE KEYS */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

